In [6]:
import datetime

import pandas as pd

In [2]:
df = pd.read_csv("../data/2_miami_voyages.csv")

In [3]:
df.head()

,vessel,voyage,voyage_id,BaseDateTime,LON,LAT,SOG,COG,distanceToPort,remainingVoyageTime,x,y
0,1,0,1-0,2021-02-18 19:49:02,-78.91242,22.90467,13.5,271.7,203.383401,915.733333,-8.784490e+06,2.620494e+06
1,1,0,1-0,2021-02-18 19:53:46,-78.92096,22.92118,14.1,288.3,202.192672,911.000000,-8.785441e+06,2.622489e+06
2,1,0,1-0,2021-02-18 20:00:45,-78.93176,22.94673,14.1,287.7,200.403238,904.016667,-8.786643e+06,2.625578e+06
3,1,0,1-0,2021-02-18 20:03:22,-78.93592,22.95611,14.0,289.8,199.741903,901.400000,-8.787106e+06,2.626712e+06
4,1,0,1-0,2021-02-18 20:05:10,-78.93882,22.96262,14.0,287.1,199.282609,899.600000,-8.787429e+06,2.627499e+06

In [5]:
df["BaseDateTime"] = pd.to_datetime(df["BaseDateTime"])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1131262 entries, 0 to 1131261
Data columns (total 12 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   vessel               1131262 non-null  int64
 1   voyage               1131262 non-null  int64
 2   voyage_id            1131262 non-null  object
 3   BaseDateTime         1131262 non-null  datetime64[ns]
 4   LON                  1131262 non-null  float64
 5   LAT                  1131262 non-null  float64
 6   SOG                  1131262 non-null  float64
 7   COG                  1131262 non-null  float64
 8   distanceToPort       1131262 non-null  float64
 9   remainingVoyageTime  1131262 non-null  float64
 10  x                    1131262 non-null  float64
 11  y                    1131262 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(2), object(1)
memory usage: 103.6+ MB

In [7]:
# Train -> 01/2018 - 12/2019;
# Val -> 01/2020 - 06/2020;
# Test -> 07/2020 - 12/2020
train = df.loc[(df["BaseDateTime"] >= datetime.datetime(2018, 1, 1))
               & (df["BaseDateTime"] <= datetime.datetime(2019, 12, 31))]
val = df.loc[(df["BaseDateTime"] >= datetime.datetime(2020, 1, 1))
             & (df["BaseDateTime"] <= datetime.datetime(2020, 6, 30))]
test = df.loc[(df["BaseDateTime"] >= datetime.datetime(2020, 7, 1))
              & (df["BaseDateTime"] <= datetime.datetime(2020, 12, 31))]

In [16]:
# Check if any voyage has samples outside the defined timespans
train_voyages = train["voyage_id"].unique()

display(df.loc[(df["voyage_id"].isin(train_voyages))
               & (df["BaseDateTime"] < datetime.datetime(2018, 1, 1))])

Empty DataFrame
Columns: [vessel, voyage, voyage_id, BaseDateTime, LON, LAT, SOG, COG, distanceToPort, remainingVoyageTime, x, y]
Index: []

In [17]:
# Check if any voyage has samples outside the defined timespans
val_voyages = val["voyage_id"].unique()

display(df.loc[(df["voyage_id"].isin(val_voyages))
               & (df["BaseDateTime"] < datetime.datetime(2020, 1, 1))])

Empty DataFrame
Columns: [vessel, voyage, voyage_id, BaseDateTime, LON, LAT, SOG, COG, distanceToPort, remainingVoyageTime, x, y]
Index: []

In [18]:
# Check if any voyage has samples outside the defined timespans
test_voyages = test["voyage_id"].unique()

display(df.loc[(df["voyage_id"].isin(test_voyages))
               & (df["BaseDateTime"] < datetime.datetime(2020, 7, 1))])

display(df.loc[(df["voyage_id"].isin(test_voyages))
               & (df["BaseDateTime"] > datetime.datetime(2020, 12, 31))])

Empty DataFrame
Columns: [vessel, voyage, voyage_id, BaseDateTime, LON, LAT, SOG, COG, distanceToPort, remainingVoyageTime, x, y]
Index: []

Empty DataFrame
Columns: [vessel, voyage, voyage_id, BaseDateTime, LON, LAT, SOG, COG, distanceToPort, remainingVoyageTime, x, y]
Index: []

- As viagens estão todas completas e só num conjunto.

In [20]:
train.to_csv("../data/3_miami_train_to_fill.csv", index=False)
val.to_csv("../data/3_miami_val_to_fill.csv", index=False)
test.to_csv("../data/3_miami_test_to_fill.csv", index=False)